@CHARSET "UTF-8";
#snsTotalDiv {
	width: 1000px;
	margin-top: 10px;
}
#snsWriteGoDiv {
	position: relative;
	left: 450px;
	width: 80px;
	height: 21px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 10pt;
	border: black solid 1px;
	padding-top: 2px;
}
#snsMenuTable {
	width: 100%;
	border: black solid 2px;
	border-left: none;
	border-right: none;
}
#snsNoMenu {
	width: 70px;
}
#snsTitleMenu {
	width: 650px;
}
#snsIdMenu {
	width: 140px;
}
#snsDateMenu {
	width: 140px;
}
.snsContentNo{
	width: 70px;
}
.snsContentTitle{
	width: 650px;
	cursor: pointer;
}
.snsContentId{
	width: 140px;
}
.snsContentDate{
	width: 140px;
	font-size: 10pt;
}
     
#snsContentTable {
	border: none;
	border-bottom: black solid 2px;
	font-weight: normal;
}

#searchSnsSelect {
	outline: none;
	height: 21px;
}
#searchSnsInput {
	outline: none;
}
#searchSnsButton {
	color: black;
	background-color: transparent;
	border: black solid 1px;
	outline: none;
	cursor: pointer;
	font-size: 10pt;
	font-weight: 900;
	height: 22px;
	position: relative;
	top: 2px;
}
.pageCountTableA {
	text-decoration: none;
	color: black;
}
.pageCountTableA:link {
	text-decoration: none;
	color: black;
}
.pageCountTableA:visited {
	text-decoration: none;
	color: black;
}
.pageCountTableCurrentA {
	text-decoration: underline;
	color: black;
}
.pageCountTableCurrentA:link {
	text-decoration: underline;
	color: black;
}
.pageCountTableCurrentA:visited {
	text-decoration: underline;
	color: black;
}