@CHARSET "UTF-8";
#snsReadTable {
	width: 1000px;
	margin-top: 10px;
	font-weight: normal;
	border-spacing: 0px;
}
#snsUdpateSpan {
	cursor: pointer;
	font-size: 11pt;
	font-weight: 900;
}
#snsUdpateSpan:hover {
	text-shadow: 1px 1px 1px black;
}
#snsDeleteSpan {
	cursor: pointer;
	font-size: 11pt;
	font-weight: 900;
}
#snsDeleteSpan:hover {
	text-shadow: 1px 1px 1px black;
}
.snsReadMenu {
	width: 100px;
	height: 25px;
	font-weight: 900;
	border-bottom: black solid 1px;
	border-top: black solid 2px;
}
#snsReadTitle {
	padding-left: 10px;
	border-bottom: black solid 1px;
	height: 25px;
	width: 700px;
	border-top: black solid 2px;
}
#snsReadId {
	padding-left: 10px;
	height: 25px;
	width: 200px;
	border-bottom: black solid 2px;
}
#snsReadDate {
	padding-left: 10px;
	height: 25px;
	width: 200px;
	border-bottom: black solid 1px;
	border-top: black solid 2px;
}
#snsReadText {
	height: 60px;
	font-size: 11pt;
	border-bottom: black solid 1px;
}
#snsReadReplyWrite {
	height: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#snsReadReplyInput {
	width: 450px;
	outline: none;
}
#snsReadReplyButton {
	outline: none;
	background-color: transparent;
	border: none;
	font-weight: 900;
	cursor: pointer;
}
#snsReadReplyButton:hover {
	text-shadow: 1px 1px 1px black;
}
.snsReadReply {
	height: 25px;
	border-bottom: black solid 1px;
	padding-bottom: 20px;
}
.replyTable {
	width: 900px;
	margin-left: 100px;
	margin-right: 50px;
}
.replyId {
	width: 100px;
}
.replyText {
	width: 500px;
}
.replyDate {
	width: 200px;
	font-size: 10pt;
}
.replyUpdateButton {
	width: 30px;
	font-size: 10pt;
	cursor: pointer;
}
.replyUpdateButton:hover {
	text-shadow: 1px 1px 1px black;
}
.replyDeleteButton {
	width: 30px;
	font-size: 10pt;
	cursor: pointer;
}
.replyDeleteButton:hover {
	text-shadow: 1px 1px 1px black;
}